<a href="https://colab.research.google.com/github/ilenesam/EL_Task1/blob/main/Mall_Cust_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step:1 Load and read the Dataset

import pandas as pd

df=pd.read_csv("Mall_Customers.csv")
print(df.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [2]:
# Step 2: Checking the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [3]:
#Step 3: To find missing values
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [4]:
#Step 4
df=df.drop_duplicates()

In [5]:
# step 5: Correct the text values

df['Gender']=df['Gender'].str.lower()

In [6]:
#step 6: Rename Coulmn Name
df.columns=df.columns.str.lower().str.replace('','_')

In [7]:
#step 7:Check data type

df.dtypes

_c_u_s_t_o_m_e_r_i_d_                             int64
_g_e_n_d_e_r_                                    object
_a_g_e_                                           int64
_a_n_n_u_a_l_ _i_n_c_o_m_e_ _(_k_$_)_             int64
_s_p_e_n_d_i_n_g_ _s_c_o_r_e_ _(_1_-_1_0_0_)_     int64
dtype: object

In [11]:
print(df.columns)

Index(['_c_u_s_t_o_m_e_r_i_d_', '_g_e_n_d_e_r_', '_a_g_e_',
       '_a_n_n_u_a_l_ _i_n_c_o_m_e_ _(_k_$_)_',
       '_s_p_e_n_d_i_n_g_ _s_c_o_r_e_ _(_1_-_1_0_0_)_'],
      dtype='object')

In [14]:
df.rename(columns={
    '_c_u_s_t_o_m_e_r_i_d_': 'CustomerID',
    '_g_e_n_d_e_r_': 'Gender',
    '_a_g_e_': 'Age',
    '_a_n_n_u_a_l_ _i_n_c_o_m_e_ _(_k_$_)_': 'AnnualIncome',
    '_s_p_e_n_d_i_n_g_ _s_c_o_r_e_ _(_1_-_1_0_0_)_': 'SpendingScore'
}, inplace=True)

In [16]:
print(df.head())
print(df.describe())

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1     NaN   19            15             39
1           2     NaN   21            15             81
2           3     NaN   20            16              6
3           4     NaN   23            16             77
4           5     NaN   31            17             40
       CustomerID  Gender         Age  AnnualIncome  SpendingScore
count  200.000000     0.0  200.000000    200.000000     200.000000
mean   100.500000     NaN   38.850000     60.560000      50.200000
std     57.879185     NaN   13.969007     26.264721      25.823522
min      1.000000     NaN   18.000000     15.000000       1.000000
25%     50.750000     NaN   28.750000     41.500000      34.750000
50%    100.500000     NaN   36.000000     61.500000      50.000000
75%    150.250000     NaN   49.000000     78.000000      73.000000
max    200.000000     NaN   70.000000    137.000000      99.000000

In [17]:

# Reloading the dataset
import pandas as pd

# Try specifying encoding if needed
df = pd.read_csv('Mall_Customers.csv', encoding='utf-8')

# Check the first few rows
print(df.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [18]:
print(df.columns)

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [19]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})

In [20]:
print(df.head())
print(df.describe())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       0   19                  15                      39
1           2       0   21                  15                      81
2           3       1   20                  16                       6
3           4       1   23                  16                      77
4           5       1   31                  17                      40
       CustomerID      Gender         Age  Annual Income (k$)  \
count  200.000000  200.000000  200.000000          200.000000
mean   100.500000    0.560000   38.850000           60.560000
std     57.879185    0.497633   13.969007           26.264721
min      1.000000    0.000000   18.000000           15.000000
25%     50.750000    0.000000   28.750000           41.500000
50%    100.500000    1.000000   36.000000           61.500000
75%    150.250000    1.000000   49.000000           78.000000
max    200.000000    1.000000   70.000000          137.000000

       Spending Score (1-100)
count              200.000000
mean                50.200000
std                 25.823522
min                  1.000000
25%                 34.750000
50%                 50.000000
75%                 73.000000
max                 99.000000

In [24]:
df['Gender'] = df['Gender'].replace({0: 'Male', 1: 'Female'})

In [25]:
print(df['Gender'].unique())

['Male' 'Female']

In [26]:
print(df)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [27]:
# Check for missing values
print(df.isnull().sum())

# Check for duplicates
print(df.duplicated().sum())

# Check data types
print(df.dtypes)

# Quick look at statistics
print(df.describe())

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
0
CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000